<ul class="components">
  <% data.each do |item| %>
    <li class="panel">
      <h3><%= item['component'] %></h3>
      <% if item['component'] == 'SectionIntro' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Header</td>
            <td>
              <%= item['props']['header'].html_safe %>
            </td>
          </tr>
          <tr>
            <td>Background Image</td>
            <td><img src="https://2036.emory.edu/images/<%= item['props']['background_image'] %>" alt="" class="meta-image"></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= item['props']['text'].html_safe %></td>
          </tr>
          <tr>
            <td>Image</td>
            <td><img src="https://2036.emory.edu/images/<%= item['props']['img_src'] %>" alt="" class="meta-image"></td>
          </tr>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Link</td>
            <td><a href="<%= item['props']['media_src'] %>" target="_blank">Click here</a></td>
          </tr>
          <% if item['props']['media_type'] == "image" %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Alt</td>
            <td><%= item['props']['media_alt'] %></td>
          </tr>
          <% end %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Header</td>
            <td><%= item['props']['media_header'] %></td>
          </tr>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Text</td>
            <td><%= item['props']['media_text'] %></td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'Quote' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Description</td>
            <td><%= item['props']['text'].html_safe %></td>
          </tr>
          <tr>
            <td>Attribution</td>
            <td><%= item['props']['attribution'].html_safe %></td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'TextBg' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Description</td>
            <td><%= item['props']['text'].html_safe %></td>
          </tr>
          <tr>
            <td>Image</td>
            <td><img src="https://2036.emory.edu/images/<%= item['props']['image_src'] %>" alt="" class="meta-image"></td>
          </tr>
          <tr>
            <td><%= item['props']['cta_text'] %></td>
            <td><a href="<%= item['props']['cta_link'] %>" target="_blank">Click here</a></td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'TextImageHeader' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Pretitle</td>
            <td><%= item['props']['pretitle'] %></td>
          </tr>
          <tr>
            <td>Title</td>
            <td><%= item['props']['title'] %></td>
          </tr>
          <tr>
            <td>Body</td>
            <td><%= item['props']['body'].html_safe %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td><%= item['props']['layout'].capitalize %></td>
          </tr>
          <% if item['props']['tags'] != nil %>
          <tr>
            <td>Tags</td>
            <td>
              <% item['props']['tags'].each do |tag| %>
              <a class="tag" href="https://2036.emory.edu<%= tag['url'] %>" target="_blank"><%= tag['label'] %></a>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Link</td>
            <td><a href="<%= item['props']['media_src'].start_with?('http') ? item['props']['media_src'] : "https://2036.emory.edu#{item['props']['media_type'] == "image" ? "/images/" : ""}#{item['props']['media_src']}" %>" target="_blank">Click here</a></td>
          </tr>
          <% if item['props']['links'] != nil %>
          <tr>
            <td>Additional Links</td>
            <td>
              <% item['props']['links'].each do |link| %>
              <a class="additional-link" href="<%= link['url'] %>" target="_blank">
                <img src="https://2036.emory.edu/<%= link['icon'] %>">
              </a>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Header</td>
            <td><%= item['props']['media_header'] %></td>
          </tr>
          <% if item['props']['media_type'] == "image" %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Alt</td>
            <td><%= item['props']['media_alt'] %></td>
          </tr>
          <% end %>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Header</td>
            <td><%= item['props']['media_header'] %></td>
          </tr>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> Text</td>
            <td><%= item['props']['media_text'] %></td>
          </tr>
          <tr>
            <td><%= item['props']['media_type'].capitalize %> ByLine</td>
            <td><%= (item['props']['media_byline'] || "").html_safe %></td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <span class="badge"><%= item['props']['disabled'] ? "Inactive" : "Active" %></span>
            </td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'VideoQuote' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Pretitle</td>
            <td><%= item['props']['pretitle'] %></td>
          </tr>
          <tr>
            <td>Title</td>
            <td><%= item['props']['title'] %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td><%= item['props']['layout'] %></td>
          </tr>
          <tr>
            <td>Subtitle</td>
            <td><%= item['props']['subtitle'].html_safe %></td>
          </tr>
          <tr>
            <td>Image</td>
            <td><img src="https://2036.emory.edu/images/<%= item['props']['img_src'] %>" alt="" class="meta-image"></td>
          </tr>
          <tr>
            <td>Media Link</td>
            <td><a href="<%= item['props']['media_src'] %>" target="_blank">Click here</a></td>
          </tr>
          <tr>
            <td>Media Alt</td>
            <td><%= item['props']['media_alt'] %></td>
          </tr>
          <tr>
            <td>Media Header</td>
            <td><%= item['props']['media_header'] %></td>
          </tr>
          <tr>
            <td>Media Description</td>
            <td><%= item['props']['media_text'].html_safe %></td>
          </tr>
          <tr>
            <td>Button Close Text</td>
            <td><%= item['props']['button_close_text'] %></td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'AccordionComponent' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Title</td>
            <td><%= item['props']['title'] %></td>
          </tr>
          <tr>
            <td>Pretitle</td>
            <td><%= item['props']['pretitle'] %></td>
          </tr>
          <tr>
            <td>Items</td>
            <td>
              <ul class="numeric-list">
                <% for it in item['props']['items'] %>
                <li>
                  <h4><%= it['title'] %></h4>
                  <p><%= it['description'].html_safe %></p>
                </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'ProfileGrid' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Header</td>
            <td><%= item['props']['header'] %></td>
          </tr>
          <tr>
            <td>Size</td>
            <td><%= (item['props']['size'] || '').capitalize %></td>
          </tr>
          <tr>
            <td>Items</td>
            <td>
              <div class="profile-grid">
                <% for it in item['props']['items'] %>
                <div>
                  <img src="https://2036.emory.edu/images/<%= it['img_src'] %>" alt="<%= it['media_alt'] %>">
                  <h4><%= it['name'] %></h4>
                  <p><%= it['description'] %></p>
                </div>
                <% end %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <% elsif item['component'] == 'ColumnsText' %>
      <div class="panel_contents">
        <table>
          <tr>
            <td>Column 1</td>
            <td><%= item['props']['column1'].html_safe %></td>
          </tr>
          <tr>
            <td>Column 2</td>
            <td><%= item['props']['column2'].html_safe %></td>
          </tr>
        </table>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
